@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face { 
    font-family: "verdana"; 
    src: url("./assets/verdana.ttf"); 
}
@font-face { 
    font-family: "verdanaBold"; 
    src: url("./assets/verdana-bold.ttf"); 
} 